<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
	<a class="navbar-brand" href="/">
    <img src="{{"icons/logo.svg" | absURL}}" width="30" height="30" class="d-inline-block align-top" alt="Logo der Website">
    Medienströme
  </a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mobile-menu" aria-controls="mobile-menu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

	<div class="collapse navbar-collapse" id="mobile-menu">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item
          {{if and (not (in .Permalink "lernumgebung")) (not (in .Permalink "altklausuren")) (not (in .Permalink "impressum"))}}
            active
          {{end}}">
				<a class="nav-link" href="/">Startseite <span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item {{if in .Permalink "lernumgebung"}}active{{end}}">
				<a class="nav-link" href="/lernumgebung">Lernumgebung</a>
			</li>
			<li class="nav-item {{if in .Permalink "altklausuren"}}active{{end}}">
				<a class="nav-link" href="/altklausuren">Altklausuren</a>
			</li>
			<li class="nav-item {{if in .Permalink "glossar"}}active{{end}}">
				<a class="nav-link" href="/glossar">Glossar</a>
			</li>
			<li class="nav-item">
				<a class="nav-link " href="" target="_blank">Opal-Kurs</a>
			</li>
      <li class="nav-item">
				<a class="nav-link " href="https://mt.inf.tu-dresden.de/" target="_blank">Professur für MT</a>
			</li>
			<li class="nav-item">
				<a class="nav-link {{if in .Permalink "impressum"}}active{{end}}" href="/impressum">Impressum</a>
			</li>
		</ul>
	</div>
</nav>
