$theme-colors: (
  "primary": #002557,
  "secondary": #EBEBEB,
  "danger": #dd2727,
  "grey": #6f7174
);
$font-family-base: (
  'Open Sans',
  sans-serif
);
$headings-color: #002557;

.wrapper {
  width: 100%;
  display: flex;
  align-items: stretch;
}

.sidebar {
  width: 25%;
}

pre {
  background-color: #fff7eb;
  padding: 1rem;
}

ul {
  padding-left: 2rem;
}

img {
  max-width: 100%;
}

.MathJax {
  text-align: left !important;
}

@import "../bootstrap/scss/bootstrap.scss";

.mms-navbar {
  position: sticky;
  top: 0;
  z-index: 1071;
  box-shadow: 0 2px 1rem rgba(0,0,0,0.2);
}

.mms-sidenav {
  overflow-y: scroll;

  @media screen and (min-width: 768px) {
    position: sticky;
    top: 3.5rem;
    z-index: 1000;
    height: calc(100vh - 3.5rem);
    box-shadow: 0 2px 1rem rgba(0,0,0,0.05);
  }

  a {
    display: block;
    padding: 0.25rem 0;
  }

  ul ul {
    a {
      padding: 0.25rem 1rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.marginal {
  position: sticky;
  top: 3.5rem;
  height: calc(100vh - 3.5rem);
  overflow-y: auto;

  a {
    display: block;
    padding: .125rem 0;
    color: theme-color("grey");
    font-size: .875rem;

    &:hover, &:focus, &:active {
      color: theme-color("primary");
    }
  }

  .result {
    box-shadow: inset 1px 0 0 theme-color("secondary");
  }

  ul ul {
    margin-left: 1rem;
  }
}

.snippet {
  border: .1rem solid theme-color("primary");
  margin-bottom: 1rem;

  header {
    padding: .5rem;
  }

  .content {
    display: block;

    @media screen and (min-width: 1500px) {
      display: grid;
    }

    .left-col {
      grid-column: 1;
      padding: 1rem;
      background-color: #f8f8f8;
      border-bottom: .1rem solid theme-color("secondary");

      &#button_wrapper button {
        margin-bottom: .5rem;
      }
    }

    .right-col {
      grid-column: 1;
      padding: 1rem;

      // mainly used in linear non linear quantisation Snippet
      // TODO: remove comment when reused somewhere else
      .validation,.solution {
        display: none;
      }

      .diagram {
        .axis {
          font-size: 1rem !important;
        }

        .svgCurve {
          fill: none;
          stroke: theme-color("primary");
          stroke-width: .1rem;
        }
        .grid .tick line {
          stroke: theme-color("secondary");
          stroke-width: .1rem;
        }

        .grid path {
          stroke-width: 0;
        }

        .circleButton {
          cursor: pointer;
        }
      }
    }

    // mainly used in DCT and DFT Snippet
    // TODO: remove comment when reused somewhere else

    .signalVisualization {
      .visualOrigin, .visualResult {
        border: .1rem solid theme-color("dark");
        display: flex;
        margin-bottom: .5rem;

        div{
          width: 100%;
          height: 1rem;
        }
      }
    }

    // used for Fourier Snippet and DCT DFT Snippet
    .slider-wrapper {
      background-color: theme-color("secondary");
      padding: .25rem;
      border-radius: .25rem;

      hr {
        margin: .5rem 0;
      }

      .slider-group {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;

        .duo-wrapper {
          border-radius: .25rem;
          border: .1rem solid theme-color("dark");
        }

        .slider_and_textfield {
          width: 2.8rem;
          display: inline-block;
          margin: .25rem;
          text-align: center;

          input[type=range] {
            display: none;
            height: 7rem;
          }

          /* Chrome, Safari, Edge, Opera */
          input::-webkit-outer-spin-button,
          input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }

          /* Firefox */
          input[type=number] {
            -moz-appearance: textfield;
            padding: .25rem;
            text-align: center;
            font-size: .8rem;
          }
        }
      }
    }

    @media screen and (min-width: 1050px) {
      .slider-wrapper .slider-group {
        justify-content: space-around;

        .slider_and_textfield input[type=range] {
          display: block;
        }
      }
    }

    @media screen and (min-width: 1500px) {
      grid-template-columns: 1fr 3fr;

      .left-col {
        grid-column: 1;
        border: 0;
        border-right: .1rem solid theme-color("secondary");

        &#button_wrapper button {
          width: 100%;
        }
      }
      .right-col {
        grid-column: 2;
      }
    }
  }
}
