$theme-colors: (
  "primary": #002557,
  "secondary": #EBEBEB
);

$font-family-base: (
  'Open Sans', sans-serif
);

.wrapper {
   width: 100%;
   display: flex;
   align-items: stretch;
}

.sidebar {
   width: 25%;
}

pre {
  background-color: #fff7eb;
  padding: 1rem;
}

@import "../bootstrap/scss/bootstrap.scss";

.btn-dark-secondary {
  @include button-variant(#898989, #898989);
}
