<!-- every page uses this to add the head, navigation, footer, etc.
    baseof.html typically builds the basic layout by adding partial components
    like the head, navigation and footer. It also defines a block that will be
    filled by the appropriate template file, either single.html or list.html. -->

<html lang="en-US">
  {{ partial "head" . }}
  <body class="body">
    {{ partial "nav" . }} note the keywords block and define go together {{
    block "main" . }}{{ end }} {{ partial "footer" . }}
  </body>
</html>
