---
title: "4.4 Grundlagen der Bildbearbeitung"
date: 2020-10-12T09:49:41+02:00
draft: true
---

<h2>4.4.1 Filter</h2>
<p>Filteroperationen dienen zur Transformation von Bildern.</p>
<p>In die Berechnung des neuen Wertes für einen bestimmten Bildpunkte fliesst nicht nur der ursprüngliche Wert des
    betreffenden Punktes ein, sondern auch die Werte der benachbarten Bildpunkte. D.h. der neue Wert ergibt sich
    üblicherweise aus einer Ausgangsfläche von 3x3 bzw. 5x5 Bildpunkten.</p>
<p>Es wird unterschieden zwischen eindimensionalen linearen Filtern, zweidimensionalen linearen Filtern und
    nichtlinearen Filtern. Durch Filter lassen sich u.a. folgende Operationen realisieren:</p>
<ul>
    <li>Glättung durch Mittelwertbildung benachbarter Punkte. Die Bilder wirken weicher und unschärfer</li>
    <li>Rauschunterdrückung durch Tiefpaß-Filter (zweidimensionaler linearer Filter)</li>
    <li>Kantenhervorhebung (richtungsabhängig) durch Hochpaßfilter</li>
    <li>Extraktion von Kanten und Linien (nichtlineare Filter)</li>
</ul>

<p><strong>Eindimensionale lineare Filter gj:</strong></p><!--TODO: Formatierung-->
<p>auf einer Linie liegen Bildpunkte mit den Grauwerten fj</p><!--TODO: Formatierung-->
<p>
    {{< formula >}}
    g_j = \sum \limits_{n=-p}^{+p} c_n f_{j-n}
    {{< /formula >}}
</p>

<p> {{< formula >}}c_{-1} = c_0 = c_1 = \frac{1}{3} \Rightarrow{{< /formula >}} Drei-Punkte Glättungsfilter</p><!--TODO: Formatierung-->
<p> {{< formula >}}c_{-1} = 1{{< /formula >}}, {{< formula >}} c_0 = {{< /formula >}},
    {{< formula >}}c_1 = -1 \Rightarrow{{< /formula >}} Gradientenfilter</p><!--TODO: Formatierung-->

<p><strong>Zweidimensionale lineare Filter</strong></p>
<p>Der Filterprozeß wird auf eine meist quadratische Umgebung um einen zentralen Punkt bezogen.</p>
<p>
    {{< formula >}}
    g_{jk} = \sum \limits_{m=-p}^{+p} \sum \limits_{n=-q}^{+q} h_{m,n} f_{j-m, k-n}
    {{< /formula >}}
</p>
<div class="row">
  <div class="col">
    {{% image url="Bildkompression/4/3_4_1_originalbild.jpg" caption="Abb. 4.4-0 Originalbild" %}}
  </div>
  <div class="col">
    {{% image url="Bildkompression/4/3_4_2_ost-gradienten.jpg" caption="Abb. 4.4-1  Ost-Gradienten (x-Richtung)" %}}
  </div>
</div>

<p>Der Grauwert fjk an der Stelle (j,k) wird unter Verwendung der Matrix der Gewichtskoeffizienten hmn in die Grauwerte
    gjk überführt. Für p = q = 1 erhält man eine 3 x 3 Matrix. z. B. (siehe <!--TODO: Fehlende Referenzen-->, Bild 8.2
    und 8.3).</p><!--TODO: Formatierung-->
<p>Ost-Gradiente =
{{% formula %}}
    \begin{pmatrix}
    -1 & 1 & 1 \\
    -1 & -2 & 1 \\
    -1 & 1 & 1 \\
    \end{pmatrix}
{{%/ formula %}}
</p>
<p>Laplace-Filter =
{{% formula %}}
    \begin{pmatrix}
    0 & -1 & 0 \\
    -1 & 4 & -1 \\
    0 & -1 & 0 \\
    \end{pmatrix}
{{%/ formula %}}
</p>
<div class="row">
  <div class="col">
    {{% image url="Bildkompression/4/3_4_3_nord-gradienten.jpg" caption="Abb. 4.4-2 Nord-Gradient (Y-Richtung)" %}}
  </div>
  <div class="col">
    {{% image url="Bildkompression/4/3_4_4_laplace-filter.jpg" caption="Abb. 4.4-3 Laplace-Filter" %}}
  </div>
</div>

<h2>4.4.2 Diskrete Cosinus-Transformation </h2>
<p>Verlustbehaftete Kompressionsverfahren haben das Ziel, in der Bearbeitungsphase Bildinformationen in wichtige und
    unwichtige Elemente zu unterscheiden und in der Quantisierungsphase unwichtige Elemente ohne nennenswerten
    Informationsverlust zu entfernen.</p>
<p>Eine Möglichkeit hierzu stellen Transformationen dar. Diese müssen invertierbar sein, um die wichtigen Informationen
    wieder zu erhalten.</p>
<p>Zudem besteht die Forderung nach schneller Berechenbarkeit.</p>
<p>Eindimensionale Fourier-Reihen erlauben die Beschreibung periodischer Vorgänge <em>(L = Periodenlänge)</em>:</p>
<p>
    {{% formulaRow f1 = "f_x = \frac{a_0}{2} + \sum \limits_{k=1}^{\infty} \left[ a_k \cos (\frac{2\pi k x}{L}) + b_k \sin (\frac{2\pi k x}{L}) \right]" ref = "3.1" %}}
</p>

<p>Eindimensionales Fourier-Integral</p>
<p>Nicht-periodische Prozesse lassen sich durch die Verallgemeinerung von Gleichung {3-1} beschreiben:</p>
<p>
    {{% formulaRow f1 = "f_x = \int \limits_{0}^{\infty} \left[ a(u) \cos (ux) + b(u) \sin (ux) \right]du = \int \limits_{-\infty}^{\infty} F(u)e^{iux}du" ref = "3.2" %}}
</p>


<p>mit F(x) als Fourier-Transformation von f(x):</p>
<p>
    {{% formulaRow f1 = "F(x) = \frac{1}{2\pi} \int \limits_{-\infty}^{\infty} f(x)e^{-iux}dx" ref = "3.3" %}}
</p>

<p><strong>Diskrete schnelle Fourier-Transformation (DFFT)</strong></p>
<p>Für diskrete Vorgänge ergibt sich die Fourier-Transformation (3.1), indem die Differentiale dx und du in (3.2) und
    (3.3) durch endliche Intervalle 2pu/n ersetzt werden, wobei u keine kontinuierliche Variable mehr ist. N ist eine
    beliebige natürliche Zahl und stellt meist die Anzahl der Bildpunkte pro Zeile bzw. Spalte dar. Aus der Variable x
    wird der Index n, der über die gesamte Zeile von 0 bis N-1 läuft. N wird bei der DFFT als Potenz von 2 gewählt.</p>
<p>
    {{% formulaRow f1 = "F_u = \frac{1}{N} \sum \limits_{n=0}^{N-1} f_n e^{-i \cdot 2 \cdot \pi \cdot n \cdot u \cdot l \cdot N}dx = \frac{1}{N} \sum \limits_{n=0}^{N-1} f_n \omega^{-nu}" ref = "3.4" %}}
</p>
<p>
    {{% formulaRow f1 = "f_n = \sum \limits_{u=0}^{N-1} F_u e^{i \cdot 2 \cdot \pi \cdot n \cdot u \cdot l \cdot N}dx = \sum \limits_{u=0}^{N-1} F_u \omega^{nu} " f2 = "\text{mit } \omega = e^{i \cdot 2 \cdot \pi \cdot n \cdot u \cdot l \cdot N} = \cos \left(\frac{2\pi}{N}\right) + i \cdot \sin \left(\frac{2\pi}{N}\right)" ref = "3.5" %}}
</p>
<p>Daraus folgt: <strong> F = W * f ;</strong></p><!--TODO: Formeln shortcode--><!--TODO: Formatierung-->
<p><strong>F</strong> und <strong>f</strong> sind Vektoren und <strong>W</strong> eine Matrix; <strong>W</strong> kann
    im voraus berechnet werden</p>
<p>Die DFFT entspricht i.w. der 'Diskreten Cosinus Transformation' (DCT).</p>
<!--TODO: Applet eindimensionale DCT und DFT-->
{{% snippets/DCTAndDFT "DCT und DFT Anwendung"%}}

<p><strong>Anwendung der DCT auf Bildelemente</strong></p>
<p>Sei {{< formula >}} \{ F(x,y) \} {{< /formula >}} mit {{< formula >}} x,y \in \{ 0, \ldots, 7 \} {{< /formula >}} ein
    aus 8 x 8 Pixeln bestehender Block, d.h. {{< formula >}} F(x,y) {{< /formula >}} entspricht den Farbwerten des sich
    in der x-ten Zeile und y-ten Spalte befindlichen Pixels. Die Zeilennummerierung erfolgt von oben nach unten, die der
    Spalte von links nach rechts. (0,0) entspricht damit der linken oberen Ecke, (7,7) der rechten unteren.</p>
<p>Die zweidimensionale DCT auf dieses Bild ist definiert durch:</p>
<p>
    {{< formula >}}
    f(k,n) = \frac{c(k)}{2} \cdot \frac{c(n)}{2} \sum \limits_{x=0}^{7} \sum \limits_{y=0}^{7} F(x,y) \cdot \cos \left( \frac{\pi (2x+1) k}{16} \right) \cdot \left( \frac{\pi (2y+1) n}{16}\right)
    {{< /formula >}}
</p>
<p>wobei {{< formula >}} k,n \in \{0, \ldots, 7\} {{< /formula >}} und c wie vorher definiert.</p>
<!--TODO: Applet zweidimensionalen DCT-->
