---
title: "4.6  Fraktale Kompression"
date: 2020-10-12T09:49:41+02:00
draft: true
---

<p><strong>Einleitung</strong></p>
<p>
  In der Natur kommen viele Strukturen vor, die starke Selbstähnlichkeiten
  aufweisen, z.B. Gebirgsformationen, Meeresküsten oder Blätter von Pflanzen.
  Solche sich wiederholenden Muster kann man nutzen, wenn man ein umfangreiches
  Gebilde durch ein kleines Erzeugersystem darstellen möchte. Die Abbildung
  zeigt einen Farn, der durch die wiederholte Anwendung von vier affinen
  Abbildungen entstanden ist.
</p>
{{% image url="Bildkompression/6/3_6_1_farn_mit_selbstaehnlichkeit.gif"
caption="Abb. 4.6-0 Farn mit Selbstähnlichkeit" %}}

<p>
  So ist die Idee der Fractal Image Compression (FIC) entstanden. Ein Bild wird
  durch eine iterierte Funktion beschrieben. Dabei werden die im Bild
  vorhandenen Selbstähnlichkeiten ausgenutzt. Details des Bildes sind
  verkleinerte und evtl. gedrehte oder gespiegelte Kopien anderer Bildteile<!--TODO: Fehlende Referenzen-->
  . Das Hauptproblem ist, zu den jeweiligen Bildteilen geeignete
  Transformationsfunktionen zu finden. Gespeichert werden die Parameter dieser
  Funktionen und nicht die Pixel der Bildteile, wodurch eine hohe
  Komprimierungsrate und eine schnelle Dekomprimierung erreicht wird.
</p>
<p>Merkmale der FIC:</p>
<ul>
  <li>blockbasierte, verlustbehaftete Kompression,</li>
  <li>schnelle Dekompression, sehr rechenintensive Kompression,</li>
  <li>Verfahren durch zwei Patente geschützt.</li>
  <li>
    Bei akzeptabler Qualität werden Kompressionsraten bei der FIC von typisch
    1:60 (bei JPEG von ca. 1:30) erzielt. Bei geringerer Qualität werden
    Faktoren von 1:200 erreicht ( LinkQuadtree ).
  </li>
</ul>

<p>Historischer Hintergrund<!--TODO: Fehlende Referenzen--></p>
<ul>
  <li>
    Basis ist die von B. Mandelbrot (IBM) 1977 veröffentlichte Arbeit zur
    fraktalen Geometrie. Hierzu entwickelte J. Hutchinson 1981 den als 'Iterated
    Function Theory' bekannten mathematischen Rahmen.
  </li>
  <li>
    Dies wurde von M. Barnsley in seinem Buch 'Fractals Everywhere' in Richtung
    'Iterated Functions Systems' IFS und dem 'Collage Theorem' verfeinert.
  </li>
  <li>
    Das 'Collage Theorem'<!--TODO: Fehlende Referenzen-->
    legt die Bedingungen fest, die ein IFS zur Repräsentation eines fraktalen
    Bildes erfüllen muß.
  </li>
  <li>
    Mit dem IFS können somit Bilder erzeugt werden, die natürlichen Objekten,
    z.B. dem oben dargestellten fraktalen Farn, sehr ähnlich sind. Durch inverse
    Operation ist damit die Kompression der entsprechenden Bilder möglich.
  </li>
  <li>
    Alan Sloan, ein Kollege von Barnsley, hat das Potential von IFS für die
    Kompression von Bildern als erster erkannt, beide haben das Verfahren zum
    Patent angemeldet. Das patentierte Verfahren erfordert jedoch Unterstützung
    durch den Benutzer und hat sich deshalb so in der Praxis nicht durchgesetzt.
  </li>
  <li>
    A. Jacquin, ein Mitarbeiter von Barnsley, hat das Verfahren modifiziert und
    verbessert, so daß vollautomatische Kompression möglich wurde<!--TODO: Fehlende Referenzen-->
    , das sog. 'Partitioned IFS'. Alle aktuellen FIC Programme basieren auf
    diesem Ansatz. Barnsley & Sloan besitzen ein entsprechendes zweites Patent.
    Entsprechende Produkte werden von 'Iterated Systems' (an der Barnsley
    beteiligt ist) vertrieben.
  </li>
</ul>

<h2>4.6.1 Multiple Reduction Copy Machine</h2>
<p>
  Zur Veranschaulichung der klassischen IFS Methode soll als Metapher eine
  'Multiple Reduction Copy Maschine' (MRCM) genutzt werden<!--TODO: Fehlende Referenzen-->
  . Sie beschreibt grob den inversen Prozess der Fraktalen Kompression:
</p>
<p>
  Angenommen sei ein Kopierer, der mehrere Linsensysteme besitzt. Diese können
  unabhängig voneinander jeweils das Ursprungsbild um einen Faktor verkleinern
  und an eine bestimmte Stelle kopieren. Der Kopierer bekommt ein beliebiges
  Bild als Eingabe und gibt die Überlagerung aller verkleinerten Bilder, wie in
  untenstehender Graphik dargestellt, aus.
</p>
{{% image url="Bildkompression/6/3_6_2_kopiermaschine.gif"
caption="Abb. 4.6-1 Kopiermaschine" %}}

<p>Die Kopiermaschine ermöglicht folgende Einstellungen:</p>
<ul>
  <li>Anzahl der Linsensysteme,</li>
  <li>Verkleinerungsfaktor für jedes Linsensystem und</li>
  <li>Anordnung (Position) der verkleinerten Bilder bei der Ausgabe.</li>
  <li>Grundidee: Nutzung der Ausgabe der MRCM wieder als Eingabe.</li>
  {{% image url="Bildkompression/6/3_6_3_prinzip_der_kopiermaschine.gif"
  caption="Abb. 4.6-2 Prinzip der Kopiermaschine" %}}
</ul>

<p>Beispiel:</p>
<p>
  Eine MRCM sei so konfiguriert, daß sie das Quellbild auf 25% verkleinert und
  es jeweils oben in die Mitte und unten links sowie unten rechts kopiert.
</p>
{{% image url="Bildkompression/6/3_6_4_sirpinski_dreieck.gif"
caption="Abb. 4.6-3 Das Sirpinski-Dreieck aus" %}}

<p>
  Bei verschiedenen Eingaben und gleicher Transformationsvorschrift ergibt sich
  obenstehendes Bild. Jede Eingabe führt bei dieser MRCM nach endlich vielen
  Iterationsschritten zum gleichen Ergebnis, dem Sirpinski-Dreieck, einem der
  einfachsten und bekanntesten IFS<!--TODO: Fehlende Referenzen-->
  . Den 'Grenzwert' der MRCM nennt man ihren Attraktor.
</p>

<p><strong>Mathematische Darstellung</strong></p>
<p>Die von der MRCM ausgeführten Transformationen sind Drehungen, Spiegelungen, Verschiebungen und Verkleinerungen, also
    affine lineare Transformationen in der Ebene:</p>
{{% formulaRow f1 = "\begin{bmatrix} x' \\ y' \end{bmatrix} = \omega_i(\vec{x}) = \omega_i \begin{pmatrix} x \\ y \end{pmatrix} = \begin{pmatrix} a & b \\ c & d \end{pmatrix} \begin{pmatrix} x \\ y \end{pmatrix} + \begin{pmatrix} e \\ f \end{pmatrix} = A \vec{x} + T" ref = "3.6.1" %}}

<p>Hierdurch wird ein Punkt (x,y) des ursprünglichen Bildes zu den neuen Koordinaten (x', y') transformiert.</p>
<p>Die drei Transformationen für das Sierpinski-Dreieck haben folgende Koeffizienten a ... f:</p>
{{% formulaRow f1 = "\omega_1 = \begin{bmatrix} 0.5 & 0 & 0 \\ 0 & 0.5 & 0 \end{bmatrix}" f2 = "\omega_2 = \begin{bmatrix} 0.5 & 0 & 0.5 \\ 0 & 0.5 & 0 \end{bmatrix}" f3 = "\omega_3 = \begin{bmatrix} 0.5 & 0 & 0.25 \\ 0 & 0.5 & 0.5 \end{bmatrix}" rel = "3.6.2" %}}

<p>Die ersten vier Koeffizienten sind identisch, was nicht generell der Fall ist. Solange die Determinante kleiner 1
    ist, konvergiert die Transformation gegen den Attraktor:</p>
{{% formulaRow f1 = "\lvert ab - cd \rvert < 1.0" ref = "3.6.3" %}}

<p>
  Die Verwendung von Fraktalen zur Kompression von Bildern basiert auf folgenden
  Annahmen:
</p>
<ul>
  <li>Viele natürliche Bilder enthalten eine Detail-in-Detail Struktur.</li>
  <li>
    IFS<!--TODO: Fehlende Referenzen-->
    erzeugen fraktale Bilder, die ähnlich den natürlichen sind.
  </li>
  <li>Die IFS-Repräsentation eines Bildes ist kompakt.</li>
  <li>Beispiel:</li>
  {{% image url="Bildkompression/6/3_6_5_fraktaler_baum.gif"
  caption="Abb. 4.6-4 Fraktaler Baum aus" %}}
</ul>

<p>
  Die IFS, die den oben dargestellten fraktalen Baum erzeugt, besteht z.B. aus
  den folgenden vier Transformationen:
</p>

<table class="table table-bordered">
  <tbody>
    <tr>
      <th>Transformation</th>

      <th>a</th>

      <th>b</th>

      <th>c</th>

      <th>d</th>

      <th>e</th>

      <th>f</th>
    </tr>

    <tr>
      <td>w<sub>1</sub></td>

      <td>0,53</td>

      <td>-0,08</td>

      <td>0,08</td>

      <td>0,53</td>

      <td>-0,88</td>

      <td>33,44</td>
    </tr>

    <tr>
      <td>w<sub>1</sub></td>

      <td>-0,31</td>

      <td>-0,42</td>

      <td>-0,44</td>

      <td>-0,33</td>

      <td>-15,19</td>

      <td>19,43</td>
    </tr>

    <tr>
      <td>w<sub>1</sub></td>

      <td>-0,25</td>

      <td>-0,05</td>

      <td>-0,07</td>

      <td>0,29</td>

      <td>1,48</td>

      <td>11,73</td>
    </tr>

    <tr>
      <td>w<sub>4</sub></td>

      <td>0,29</td>

      <td>0,54</td>

      <td>-0,04</td>

      <td>0,29</td>

      <td>18,74</td>

      <td>9,87</td>
    </tr>
  </tbody>
</table>

<p>
  Die Datei zur Beschreibung der IFS besteht aus 176 Byte, wogegen das Pixelbild
  ca. 250.000 Byte einnimmt.
</p>
<p>
  Die klassische IFS unterstellt Selbstähnlichkeit des gesamten Bildes zu Teilen
  des Bildes. Dies ist bei natürlichen Bildern, wie z.B. das einer Landschaft
  mit Bäumen, Gräsern, Bergen und Himmel, selten und die Selbstähnlichkeiten zu
  finden ist äußerst kompliziert. Deshalb beschränkt man die Forderung auf
  Selbstähnlichkeit zwischen Teilbereichen eines Bildes.
</p>

<h2>4.6.2 Kompressionsverfahren</h2>
<p>
  Fraktale Kompression ist der inverse Prozeß zu IFS<!--TODO: Fehlende Referenzen-->
</p>
{{% image url="Bildkompression/6/3_6_6_finden_von_selbstaenlichkeiten.gif"
caption="Abb. 4.6-5 Finden von Selbstähnlichkeiten aus" %}}

<p>
  Zu einem gegebenen Bild soll eine Funktion gefunden werden, die bei Iteration
  das Bild möglichst gut annähert. Dazu muß im Bild nach Selbstähnlichkeiten
  gesucht werden, also nach Teilbildern, die anderen Teilbildern möglichst
  ähnlich sind.
</p>
<p>Das Prinzip des 'Partitioned IFS' ist in Abb.3.6.6 dargestellt:</p>
<ul>
  <li>
    Einteilung des zu komprimierenden Bildes in folgende Bereiche:
    <ul>
      <li>
        <strong>Range-Blöcke:</strong> Sie enthalten in ihrer Summe alle Pixel
        des Bildes, wobei jeder einzelne Block keine Pixel eines anderen Blockes
        enthält (also keine Überlappung existiert).
      </li>
      <li>
        <strong>Domain-Blöcke:</strong> Sie sind größer als die Range-Blöcke,
        können sich überlappen und müssen in ihrer Summe nicht alle Pixel des
        Bildes enthalten.
      </li>
    </ul>
  </li>
  <li>
    Ziel des Kompressionsprozesses ist es, einen möglichst ähnlichen
    Domain-Block für jeden Range-Block zu finden. Dazu wird jeder Domain-Block
    mit jedem Range-Block verglichen.
  </li>
  <li>
    Ein Domain-Block ist einem Range-Block am ähnlichsten, wenn die Distanz
    zwischen Range-Block und transformiertem Domain-Block am geringsten ist.
  </li>
  <li>Der Domain-Block wird zunächst transformiert und normalisiert.</li>
  <li>
    Die Ähnlichkeitsprüfung erfolgt durch Berechnung des quadratischen Abstandes
    zwischen normalisiertem Domain-Block und Range-Block (Vergleich erfolgt
    pixelweise).
  </li>
  <li>
    Durch die Wahl kleiner Range-Blöcke wird schnell ein "passender"
    Domain-Block gefunden.
  </li>
</ul>
<!--TODO: Formatierung-->

<p><strong>Partitionierungsverfahren:</strong></p>
<p>Folgende Partitionierungsverfahren werden unterschieden:</p>
<ul>
  <li>
    Quadrate: Unterteilung des Bildes in gleich große Quadrate.
    <ul>
      <li>
        Zur Vereinfachung des Kompressionsprozesses wählte Jacquin rechteckige,
        doppelt so große Domain-Blöcke, d.h. 16 x 8 Pixel bei 8 x 8 Pixel
        Range-Blöcken.
      </li>
    </ul>
  </li>
  <li>
    Quadtree: Bild wird zunächst in gleich große Quadrate unterteilt und im
    weiteren Verfahren je nach Inhalt in immer kleinere Quadrate unterteilt. Der
    Vorteil dieser Methode ist: Die Zuordnung größerer Areale mit wenig
    Detailinformation geschieht schnell bei nur geringem Speicherverbrauch.
  </li>
  {{% image
    url="Bildkompression/6/3_6_7_patritionierung_nach_quadraten_und_quadtree_verfahren.gif"
    caption="Abb. 4.6-6 Partitionierung nach Quadraten und Quadtree-Verfahren aus" %}}
  <li>
    HV: Beim HV-Verfahren wird zunächst das gesamte Bild als ein Domain-Block
    betrachtet. Im weiteren Verlauf wird das Bild immer weiter in Rechtecke
    unterteilt. Ein Rechteck wird immer an einer vom Bildinhalt abhängigen
    Stelle in zwei Rechtecke geteilt.
  </li>
  <li>
    Triangular: Unterteilung in Dreiecke, sonst gleiches Prinzip wie bei HV. Ein
    Dreieck wird jeweils in 4 kleinere Dreiecke unterteilt. Mit dieser Methode
    findet man besser zueinander passende Blöcke. Die Berechnung der
    Transformationen ist jedoch aufwändiger.
  </li>
  {{% image
    url="Bildkompression/6/3_6_8_partitionierung_in_rechtecke_und_dreiecke.gif"
    caption="Abb. 4.6-7 Partitionierung in Rechtecke und Dreiecke aus" %}}
</ul>

<p>
  Bei der Unterteilung wird das Bild zunächst in große Rangeblöcke aufgeteilt.
  Blöcke mit großer Dynamik werden weiter unterteilt. Je größer die
  Domain-Blöcke, desto größer ist die Kompression, desto schlechter ist aber
  auch die Bildqualität.
</p>
<p>Ermittlung des Domain-Blockes mit der größten Ähnlichkeit</p>
<ul>
  <li>
    Die Blöcke sind nicht nur durch Ihren Informationsgehalt sondern auch durch
    Kontrast- und Helligkeitswerte bestimmt.
  </li>
  <li>
    Wird bei der Transformation eine Normalisierung bez. der Helligkeits- und
    Kontrastwerte der Pixel vorgenommen, so können mehr Range-Blöcke durch
    denselben Domain-Block beschrieben werden.
  </li>
</ul>

<p>Die Transformation hat dann folgende Form, mit {{< formula >}}z = f(x,y){{< /formula >}},
    {{< formula >}}S{{< /formula >}} als Kontrast, {{< formula >}}o{{< /formula >}} als Helligkeit und
    {{< formula >}}(x,Y){{< /formula >}} als Ortsvektor.</p>
{{% formulaRow f1 = "\begin{bmatrix} x' \\ y' \\ z' \end{bmatrix} = \omega_i \begin{pmatrix} x \\ y \\ z \end{pmatrix} = \begin{pmatrix} a_i & b_i & 0 \\ c_i & d_i & 0 \\ 0 & 0 & s_i \end{pmatrix} \begin{pmatrix} x \\ y \\ z \end{pmatrix} + \begin{pmatrix} e_i \\ f_i \\ o_i \end{pmatrix} = A_i \vec{x} + T_i" ref = "3.6.4" %}}


<ul>
    <li>{{< formula >}}s_i{{< /formula >}} reguliert die Einstellungen des Kontrastes der Luminanz eines Pixels. Bei
        {{< formula >}}s_i = 0{{< /formula >}} wird der Domain-Block schwarz, bei {{< formula >}}s_i = 1{{< /formula >}}
        bleibt er unverändert, zwischen 0 und 1 verliert er und über 1 gewinnt er Kontrast.
    </li>
    <li>{{< formula >}}o_i{{< /formula >}} reguliert die Helligkeit. Positive Werte hellen den Block auf, negative
        verdunkeln ihn.
    </li>
</ul><!--TODO: Formatierung-->

<p>
  Zur Suche nach Selbstähnlichkeiten werden zunächst die beiden zu
  vergleichenden Bildausschnitte auf das gleiche Helligkeits- und Kontrastniveau
  gebracht. Dies bezeichnet man mit <strong>Normalisierung</strong>. Danach
  werden sie mit der Methode der kleinsten Quadrate verglichen.
</p>
<ul>
    <li>Die <strong>Anpassung</strong> der Bilder <em>f</em> und <em>g</em> entspricht der Minimierung von</li>
    {{% formulaRow f1 = "R = \sum \limits_{(x,y) \in I^2} (s \cdot f(x,y) + o - g(x,y))^2" ref = "3.6.5" %}}

    <li>{{< formula >}}R{{< /formula >}} wird minimal, wenn die partiellen Ableitungen nach
        {{< formula >}}s{{< /formula >}} bzw. {{< formula >}}o{{< /formula >}} null sind. Dies ist der Fall, wenn gilt:
    </li>
    {{% formulaRow f1 = "s = \frac{\left( n^2 \sum \limits_{(x,y) \in I^2} f(x,y) g(x,y) - \sum \limits_{(x,y) \in I^2}f(x,y) \sum \limits_{(x,y) \in I^2}g(x,y) \right)}{\left( n^2 \sum \limits_{(x,y) \in I^2} f(x,y)^2 - \left( \sum \limits_{(x,y) \in I^2} f(x,y) \right)^2 \right)}" ref = "3.6.6" %}}
    <p>und</p>
    {{% formulaRow f1 = "o = \frac{\left( \sum \limits_{(x,y) \in I^2}g(x,y) - s \sum \limits_{(x,y) \in I^2}f(x,y) \right)}{n^2}" ref = "3.6.7" %}}
</ul>

<p>
  Der <strong>Abstand</strong> zweier Bilder <em>f</em>, <em>g</em> kann z.B.
  durch folgende Funktion berechnet werden:
</p>
<ul>
    <li>Pixelweise Maximumsfunktion:</li>
    {{% formulaRow f1 = "\delta_1 (f,g) = \sup \limits_{(x,y) \in I^2} \rvert f(x,y) - g(x,y) \lvert" ref = "3.6.8" %}}
    <li>Summe der Beträge aller Pixelabstände:</li>
    {{% formulaRow f1 = "\delta_2 (f,g) = \sum \limits_{(x,y) \in I^2} \frac{\rvert f(x,y) - g(x,y) \lvert}{\lvert I^2 \rvert}" ref = "3.6.9" %}}
</ul><!--TODO: Formatierung-->

<p><strong>Speicherung des komprimierten Bildes:</strong></p>
<p>Je nach verwendetem Partitionierungsverfahren können die Transformationswerte noch durch kürzere ersetzt werden. Beim
    Quadtree kann z.B. mit jeweils einem Bit angegeben werden, ob das jeweilige Quadrat weiter unterteilt wird oder
    nicht.</p>
<p>Beim HV-Verfahren reicht es, zusätzlich jeweils einen Offset für die Teilungsstelle anzugeben, der dann kleine Werte
    annimmt. Für jede Transformation sind prinzipiell folgende Werte {{< formula >}}a_i{{< /formula >}},
    {{< formula >}}b_i{{< /formula >}}, {{< formula >}}c_i{{< /formula >}}, {{< formula >}}d_i{{< /formula >}},
    {{< formula >}}e_i{{< /formula >}}, {{< formula >}}f_i{{< /formula >}}, {{< formula >}}s_i{{< /formula >}} und
    {{< formula >}}o_i{{< /formula >}} der obigen Formel zu speichern. Beschränkt man die Transformationen auf</p>

<ol>
  <li>Rotation um 0°,</li>
  <li>Rotation um 90°,</li>
  <li>Rotation um 180°,</li>
  <li>Rotation um 270°,</li>
  <li>Spiegeln um die horizontale,</li>
  <li>Spiegeln um die vertikale Achse,</li>
  <li>Spiegeln um die rechte,</li>
  <li>Spiegeln um die linke Diagonale, und</li>
</ol>

<p>kennzeichnet diese durch den Parameter {{< formula >}}m_i{{< /formula >}}, so läßt sich die Transformation durch
    folgenden Satz beschreiben:</p>
<p>{{< formula >}}w_i = (e_i{{< /formula >}}, {{< formula >}}f_i{{< /formula >}}, {{< formula >}}m_i{{< /formula >}},
    {{< formula >}}o_i{{< /formula >}}, {{< formula >}}s_i){{< /formula >}}
</p>
<p>Gespeichert werden diese Transformationswerte. Für jede Transformation muß auch gespeichert werden, auf welches
    Teilbild sich die Transformation bezieht. Dies geschieht je nach Partitionierungsverfahren durch eine Zahl oder die
    Koordinaten. Insgesamt ergeben sich i.allg. ca. 31 Bit pro Range-Block. Die Anzahl der Transformationen, die
    gespeichert werden müssen, hängt ab vom Partitionierungsverfahren, von der Feinheit der Partitionierung und damit
    von der angestrebten Bildqualität.</p>

<p><strong>Komprimierung von Farbbildern</strong></p>
<p>
  Um ein Farbbild zu komprimieren, wird das gleiche Verfahren wie für Graubilder
  auf jede Komponente des Farbbildes angewandt. Bei der Dekomprimierung wird
  dann jeder Anteil getrennt dekomprimiert und anschließend wieder
  zusammengesetzt.
</p>

<h2>4.6.3 Dekompressionsprozess</h2>
<p>
  Die Dekompression beginnt gewöhnlich damit, daß der Bildspeicher einheitlich
  auf einen mittleren Grauwert gesetzt wird. Dies stellt das Ausgangsbild (seed
  image) dar.
</p>
{{% image
  url="Bildkompression/6/3_6_9_dekomprimierung_eines_fraktalen_bildes_mit_unterschiedlichem_seed_image.gif"
  caption="Abb. 4.6-8 Dekomprimierung eines fraktalen Bildes mit unterschiedlichem seed image aus" %}}
<!--TODO: Image shortcode TODO: Fehlende Referenzen-->

<p>
  Auf den Bildspeicher werden dann die Transformationen angewandt, d.h. die
  Pixel eines jeden Range-Blockes werden je Iteration ausgehend vom jeweiligen
  Domain-Block und der Transformationsvorschrift wi in neue Werte überführt. Das
  Ergebnis wird als Eingabe für den nächsten Iterationsschritt verwandt. Nach
  der zweiten Iteration kann man i.allg. schon das Originalbild erahnen, nach
  der vierten Iteration ist es meist schon sehr gut wiedergegeben.
</p>
<p>
  Abb. 4.6.9 illustriert den Dekompressionsprozess der zwei Bilder 'Vogel' und
  'Kameramann'
  <!--TODO: Fehlende Referenzen-->
</p>
<ul>
  <li>Jedes Bild hat eine Größe von 256 x 256 Pixeln mit 8 Bit pro Pixel.</li>
  <li>
    Alle Range-Blöcke sind 8x8, d.h. die PIFS besteht aus 1024 affinen
    Transformationen.
  </li>
  <li>
    Das Bild Kameramann wird in diesem Beispiel als Ausgangsbild (seed image)
    für das Bild Vogel und umgekehrt genutzt.
  </li>
  <li>
    Man erkennt, daß das Ausgangsbild keinen Einfluß auf das Ergebnis, d.h. das
    dekomprimierte Bild hat. Es wird hierdurch lediglich die Zahl der
    erforderlichen Iterationen bestimmt.
  </li>
  <li>
    So kann auch mit einem vollständigen schwarzen oder auch weißen Bild
    begonnen werden.
  </li>
</ul>
{{% image url="Bildkompression/6/3_6_10_bild_nach_iterations.gif"
caption="Abb. 4.6-9 Seedimage (oben lins) und das Aussehen des Bildes nach 1, 2, und 3 Iterationsschritten aus" %}}
<!--TODO: Image shortcode TODO: Fehlende Referenzen-->
{{% image
  url="Bildkompression/6/3_6_11_konvergenzprozess_bei_unterschiedlichen_ausgangsbildern.gif"
  caption="Abb. 4.6-10 Konvergenzprozeß bei unterschiedlichen Ausgangsbildern aus" %}}
<!--TODO: Image shortcode TODO: Fehlende Referenzen-->

<p>
  Die obenstehende Graphik zeigt den Konvergenzprozeß abhängig vom Ausgangsbild.<!--TODO: Fehlende Referenzen-->
</p>
<p>
  Die Kompressionsrate für jedes der beiden Bilder ergibt sich bei Verwendung
  folgender Werte:
</p>
<ul>
    <li>Ausgangsbildgröße = 256x256x8 bits = 65.536 Bytes</li>
    <li>{{< formula >}}f_i{{< /formula >}} = 8 bits: 256 horizontale Positionen</li>
    <li>{{< formula >}}m_i{{< /formula >}} = 8 bits: 256 vertikale Positionen</li>
    <li>{{< formula >}}s_i{{< /formula >}} = 5 bits: ausreichend nach empirischen Tests</li>
    <li>{{< formula >}}o_i{{< /formula >}} = 6 bits: ausreichend nach empirischen Tests</li>
    <li>{{< formula >}}w_i{{< /formula >}} = 32 bits x 1024 Transformationen = 4096 Bytes</li>
    <li>Kompressionsrate = 65.536 : 4096 = 16 : 1</li>
</ul>

<p>
  Verschiedene Optimierungen sind denkbar. Den größten Einfluss hat die
  Partitionierung der Range-Blöcke. Sowohl das Bild mit dem Kameramann wie auch
  das mit dem Vogel weist große Hintergrundbereiche auf, die sich nur
  geringfügig ändern. Diese können gut durch größere Range-Blöcke, z.B. 32 x 32
  Pixel, repräsentiert werden. Dagegen sollten Bereiche mit hohem Kontrast und
  aktiven Details eher in Blöcken von 4 x 4 Pixel aufgeteilt werden.
</p>

<h2>4.6.4 Prinzipieller Kompressionsalgorithmus</h2>
<p>
  Die prinzipielle Vorgehensweise soll an den oben dargestellten Bildern
  beschrieben werden.
</p>
<p>Partitionierungsverfahren: 'Quadrate fester Größe', 8 x 8 Punkte.</p>
<ul>
    <li>Damit wird das Bild in 1024 Range-Blöcke partitioniert: {{< formula >}} R = \{R_1, \ldots , R_{1024} \}{{< /formula >}}.</li>
    <li>Zudem wird es in {{< formula >}} 241 \times 241 = 58.081 {{< /formula >}} (überlappenden)
        {{< formula >}} 16 \times 16 {{< /formula >}} Quadrate (Domain-Blöcke) aufgeteilt:
        {{< formula >}} D = \{D_1, \ldots , D_{1024} \}{{< /formula >}}
    </li>
</ul>

<p>Durch die Quadrate sind nur Drehungen um 90 Grad und Spiegelungen an der X- oder Y-Achse erlaubt. Der
    Verkleinerungsfaktor wird auf 25% festgelegt, so daß es 8 mögliche Transformationen gibt.</p>
<p>Nun wird für jedes {{< formula >}}R_i{{< /formula >}} das {{< formula >}}D_i{{< /formula >}} gesucht, welches am
    ähnlichsten ist.</p>
<ul>
    <li>Dazu werden {{< formula >}}R_i{{< /formula >}} und {{< formula >}}D_i{{< /formula >}} in der Größe angepaßt,
        d.h. es werden aus jedem Pixel 4 Pixel gemacht.
    </li>
    <li>Dann werden mit Hilfe der oben angegebenen Formeln die Faktoren für die Helligkeits- und Kontrastanpassung der
        beiden Bilder ermittelt und auf eines der Bilder angewendet.
    </li>
    <li>Dann kann für jede der 8 möglichen Transformationen der Abstand mit einer der Formeln des einen Bildes zum
        transformierten anderen Bild berechnet werden.
    </li>
    <li>Von allen {{< formula >}}R_i{{< /formula >}} wird dann das {{< formula >}}D_i{{< /formula >}} genommen, das dem
        {{< formula >}}R_i{{< /formula >}} mit einer bestimmten Transformation am ähnlichsten ist, und es werden die
        Parameter gespeichert.
    </li>
</ul>

<p>Dies wird für alle Range-Blöcke wiederholt. Es sind damit {{< formula >}} 1.024 \times 58.081 \times 8 = 475.799.552{{< /formula >}}
    Transformationen und Bildvergleiche notwendig, hinzu kommen {{< formula >}} 1.024 \times 58.081 \times 8 = 59.474.944{{< /formula >}}
    Helligkeits- und Kontrastanpassungen. Der Aufwand ist also trotz der einfachen Voraussetzungen (kleines
    Graustufenbild, einfachste Partitionierung, starke Einschränkung der erlaubten Quellbereiche) erheblich.</p>
<p>Der allgemeine Kompressions-Algorithmus ist damit:</p>
<!--TODO: Codesample-->

<p>
  Bei Quadtree-, HV- und Triangularer Partitionierung wird so vorgegangen, daß
  zunächst bis zu einer gewissen Maximalgröße partitioniert wird. Dann wird
  geprüft, ob der minimale Abstand zu einem Quellbild bereits eine anzugebende
  Schranke (als Maß für die gewünschte Kompressionsrate bzw. Bildqualität)
  unterschritten hat. Wenn nicht, wird das Bild weiter partitioniert; sonst wird
  die Transformation gespeichert und die Partitionierung (in diesem Ast)
  abgebrochen.
</p>
<!--TODO: Applet Fraktale Kompression-->

<h2>4.6.5 Eigenschaften des Verfahrens</h2>
<p>Vorteile der fraktalen Kompression:</p>
<ul>
  <li>
    Fraktal komprimierte Bilder sind prinzipiell unabhängig von der Auflösung
    des Originalbildes.
  </li>
  <li>Die Dekompression ist einfach und nicht rechenintensiv.</li>
  <li>
    Das Kompressions-Ergebnis ist meist besser als bei einer Kompression mit
    JPEG.
  </li>
</ul>

<p>Nachteil:</p>
<ul>
  <li>Die Komprimierung ist sehr rechenintensiv und aufwändig.</li>
</ul>
{{% image url="Bildkompression/6/3_6_12_vergleich_vergroesse.jpg"
caption="Abb. 4.6-11 Im linken Originalbild wird bei Vergrößerungen die Pixelstruktur deutlich, während das rechte, fraktal komprimierte Bild auch bei Vergrößerungen gute Ergebnisse zeigt." %}}

<h2>4.6.6 Programm FRACOMP</h2>
<p>
  Unterstützt werden die IFS<!--TODO: Fehlende Referenzen-->
  und QIF-Transformation.
</p>

<p><strong>IFS-Transformation: </strong></p>
<p>
  FRACOMP wendet den einfachen Brute-force-Algorithmus an, bei dem das Bild in
  gleichgroße Rangeblöcke aufgeteilt wird, deren Größe eingestellt werden kann.
  Zu jedem Rangeblock wird ein doppelt so großer Domänenblock gesucht, der zu
  dem Rangeblock die größte Ähnlichkeit besitzt. Das Paar 'Rangeblock ↔ bester
  Domänenblock' bestimmt mit der entsprechenden Helligkeits- und
  Kontrastinformation eine Transformation. Wurde für jeden Rangeblock im Bild
  die Transformation gefunden, so wurde der fraktale Code vollständig erzeugt
  und kann dann gespeichert werden.
</p>
<p>QIF-Transformationen:</p>
{{% image url="Bildkompression/6/3_6_13_aufteilung_in_domainenbloecke.jpg"
caption="Abb. 4.6-12 Aufteilung in Domain-Blöcke" %}}

<p>
  Dieses Verfahren ist trickreicher. Das schon vorbearbeitete Bild und die
  möglichen Domänenblöcke, die sich auf einem einstellbaren Gitter befinden,
  werden klassifiziert (max. 72 Klassen). Dann werden zu jedem Rangeblock nur
  Domänenblöcke der entsprechenden Klasse verglichen, was die Laufzeit erheblich
  verkürzt.
</p>
{{% image url="Bildkompression/6/3_6_14_aufteilung_in_rangebloecke.gif"
caption="Abb. 4.6-13 Aufteilung in Rangeblöcke" %}}

<p>
  Ist die Übereinstimmung zwischen Range- und Domänenblock nicht gut genug (wie
  gut sie sein soll, ist einstellbar), so wird rekursiv der Rangeblock in seine
  Quadranten geteilt und der Range-Domänenblockvergleich beginnt bei den
  kleineren Blöcken erneut, d.h. es wird Quadtree-Partitionierung verwandt. Die
  weitere Vorgehensweise ist den IFS-Transformationen ähnlich.
</p>
<p>
  Eine Visualisierung der Transformationen ist durch die Menüpunkte
  'QIF-/IFS-<strong>Transformationen anzeigen</strong>' möglich. Es wird ein
  neues Fenster eröffnet, das die Rangeblockaufteilung des Bildes zeigt. Die
  schwarzen Blöcke zeigen diejenigen Transformationen, welche den
  Skalierungsfaktor Null besitzen.
</p>
{{% image url="Bildkompression/6/3_6_15_anzeige_des_programmes_fracomp.gif"
caption="Abb. 4.6-14 Anzeige des Programmes fracomp" %}}

<p>
  Transformationen sind fest mit dem dazugehörenden Bild verbunden. Hierdurch
  kann ein QIF - oder IFS-<strong>Fehlerbild</strong> erzeugt werden.
</p>
<p>
  Will man aus den Transformationen das entsprechende Bild generieren, so
  geschieht dies durch 'QIF-/IFS-<strong>Transformationen anwenden</strong>'.
  Verschiedenste Parameter können eingestellt werden. Ein neues Fenster mit dem
  erzeugten Bild wird geöffnet. Dieses Bild ist mit dem Originalbild nicht
  identisch, da die fraktale Bildkompression verlustbehaftet ist. Information
  über die Transformationen erhält man durch 'QIF-/ IFS -<strong
    >Info anzeigen</strong
  >'.
</p>
