
<script type="text/javascript" src="{{"js/fourier.js" | absURL}}"></script>
<div class="snippet">
	<header class="bg-primary">
		<strong class="text-white">{{ .Get 0 }}</strong>
	</header>
	<div class="content">

			<div class="left-col" id="button_wrapper">
				<button id="buttonSineWave" class="btn btn-outline-primary">Sinus</button>
				<button id="buttonCosineWave" class="btn btn-outline-primary">Cosinus</button>
				<button id="buttonSawWave" class="btn btn-outline-primary">Sägezahn</button>
				<button id="buttonSquareWave" class="btn btn-outline-primary">Rechteck</button>
				<button id="buttonTriangleWave" class="btn btn-outline-primary">Dreieck</button>
				<button id="buttonGraetzSine" class="btn btn-outline-primary">Graetz-Sinus</button>
				<button class="btn btn-outline-danger" id="buttonResetWave">Reset</button>
			</div>


			<div class="right-col">
				<div id="graph1_wrapper">
					<svg id="svg_graph1"></svg>
				</div>
				<div class="slider-wrapper">
					<!--sliders_a-->
					<div id="sliders_a_wrapper" class="slider-group">
						<div class="slider_and_textfield">
							<label id="slider_a_0_label" class="small">sin(x)</label>
							<!--<button id="button_up_a_1">˄</button>-->
							<input class="form-control-range" id="slider_a_0" aria-labelledby="slider_a_0_label" type="range" orient="vertical" min="-99" max="99" value="0">
							<!--<button id="button_down_a_1">&#709;</button>-->
							<input class="form-control" id="text_field_a_0" aria-labelledby="slider_a_0_label" type="number" min="-99" max="99">
						</div>
						<div class="slider_and_textfield">
							<label id="slider_a_1_label" class="small">sin(2x)</label>
							<input class="form-control-range" id="slider_a_1" aria-labelledby="slider_a_1_label" type="range" orient="vertical" min="-99" max="99" value="0">
							<input class="form-control" id="text_field_a_1" aria-labelledby="slider_a_1_label" type="number" min="-99" max="99">
						</div>
						<div class="slider_and_textfield">
							<label id="slider_a_2_label" class="small">sin(3x)</label>
							<input class="form-control-range" id="slider_a_2" aria-labelledby="slider_a_2_label" type="range" orient="vertical" min="-99" max="99" value="0">
							<input class="form-control" id="text_field_a_2" aria-labelledby="slider_a_2_label" type="number" min="-99" max="99">
						</div>
						<div class="slider_and_textfield">
							<label id="slider_a_3_label" class="small">sin(4x)</label>
							<input class="form-control-range" id="slider_a_3" aria-labelledby="slider_a_3_label" type="range" orient="vertical" min="-99" max="99" value="0">
							<input class="form-control" id="text_field_a_3" aria-labelledby="slider_a_3_label" type="number" min="-99" max="99">
						</div>
						<div class="slider_and_textfield">
							<label id="slider_a_4_label" class="small">sin(5x)</label>
							<input class="form-control-range" id="slider_a_4" aria-labelledby="slider_a_4_label" type="range" orient="vertical" min="-99" max="99" value="0">
							<input class="form-control" id="text_field_a_4" aria-labelledby="slider_a_4_label" type="number" min="-99" max="99">
						</div>
						<div class="slider_and_textfield">
							<label id="slider_a_5_label" class="small">sin(6x)</label>
							<input class="form-control-range" id="slider_a_5" aria-labelledby="slider_a_5_label" type="range" orient="vertical" min="-99" max="99" value="0">
							<input class="form-control" id="text_field_a_5" aria-labelledby="slider_a_5_label" type="number" min="-99" max="99">
						</div>
						<div class="slider_and_textfield">
							<label id="slider_a_6_label" class="small">sin(7x)</label>
							<input class="form-control-range" id="slider_a_6" aria-labelledby="slider_a_6_label" type="range" orient="vertical" min="-99" max="99" value="0">
							<input class="form-control" id="text_field_a_6" aria-labelledby="slider_a_6_label" type="number" min="-99" max="99">
						</div>
						<div class="slider_and_textfield">
							<label id="slider_a_7_label" class="small">sin(8x)</label>
							<input class="form-control-range" id="slider_a_7" aria-labelledby="slider_a_7_label" type="range" orient="vertical" min="-99" max="99" value="0">
							<input class="form-control" id="text_field_a_7" aria-labelledby="slider_a_7_label" type="number" min="-99" max="99">
						</div>
						<div class="slider_and_textfield">
							<label id="slider_a_8_label" class="small">sin(9x)</label>
							<input class="form-control-range" id="slider_a_8" aria-labelledby="slider_a_8_label" type="range" orient="vertical" min="-99" max="99" value="0">
							<input class="form-control" id="text_field_a_8" aria-labelledby="slider_a_8_label" type="number" min="-99" max="99">
						</div>
						<div class="slider_and_textfield">
							<label id="slider_a_9_label" class="small">sin(10x)</label>
							<input class="form-control-range" id="slider_a_9" aria-labelledby="slider_a_9_label" type="range" orient="vertical" min="-99" max="99" value="0">
							<input class="form-control" id="text_field_a_9" aria-labelledby="slider_a_9_label" type="number" min="-99" max="99">
						</div>
					</div>
					<hr>

					<!--sliders_b-->
					<div id="sliders_b_wrapper" class="slider-group">
						<div class="slider_and_textfield">
							<label id="slider_b_0_label" class="small">cos(x)</label>
							<input class="form-control-range" id="slider_b_0" aria-labelledby="slider_b_0_label" type="range" orient="vertical" min="-99" max="99" value="0">
							<input class="form-control" id="text_field_b_0" aria-labelledby="slider_b_0_label" type="number" min="-99" max="99">
						</div>
						<div class="slider_and_textfield">
							<label id="slider_b_1_label" class="small">cos(2x)</label>
							<input class="form-control-range" id="slider_b_1" aria-labelledby="slider_b_1_label" type="range" orient="vertical" min="-99" max="99" value="0">
							<input class="form-control" id="text_field_b_1" aria-labelledby="slider_b_1_label" type="number" min="-99" max="99">
						</div>
						<div class="slider_and_textfield">
							<label id="slider_b_2_label" class="small">cos(3x)</label>
							<input class="form-control-range" id="slider_b_2" aria-labelledby="slider_b_2_label" type="range" orient="vertical" min="-99" max="99" value="0">
							<input class="form-control" id="text_field_b_2" aria-labelledby="slider_b_2_label" type="number" min="-99" max="99">
						</div>
						<div class="slider_and_textfield">
							<label id="slider_b_3_label" class="small">cos(4x)</label>
							<input class="form-control-range" id="slider_b_3" aria-labelledby="slider_b_3_label" type="range" orient="vertical" min="-99" max="99" value="0">
							<input class="form-control" id="text_field_b_3" aria-labelledby="slider_b_3_label" type="number" min="-99" max="99">
						</div>
						<div class="slider_and_textfield">
							<label id="slider_b_4_label" class="small">cos(5x)</label>
							<input class="form-control-range" id="slider_b_4" aria-labelledby="slider_b_4_label" type="range" orient="vertical" min="-99" max="99" value="0">
							<input class="form-control" id="text_field_b_4" aria-labelledby="slider_b_4_label" type="number" min="-99" max="99">
						</div>
						<div class="slider_and_textfield">
							<label id="slider_b_5_label" class="small">cos(6x)</label>
							<input class="form-control-range" id="slider_b_5" aria-labelledby="slider_b_5_label" type="range" orient="vertical" min="-99" max="99" value="0">
							<input class="form-control" id="text_field_b_5" aria-labelledby="slider_b_5_label" type="number" min="-99" max="99">
						</div>
						<div class="slider_and_textfield">
							<label id="slider_b_6_label" class="small">cos(7x)</label>
							<input class="form-control-range" id="slider_b_6" aria-labelledby="slider_b_6_label" type="range" orient="vertical" min="-99" max="99" value="0">
							<input class="form-control" id="text_field_b_6" aria-labelledby="slider_b_6_label" type="number" min="-99" max="99">
						</div>
						<div class="slider_and_textfield">
							<label id="slider_b_7_label" class="small">cos(8x)</label>
							<input class="form-control-range" id="slider_b_7" aria-labelledby="slider_b_7_label" type="range" orient="vertical" min="-99" max="99" value="0">
							<input class="form-control" id="text_field_b_7" aria-labelledby="slider_b_7_label" type="number" min="-99" max="99">
						</div>
						<div class="slider_and_textfield">
							<label id="slider_b_8_label" class="small">cos(9x)</label>
							<input class="form-control-range" id="slider_b_8" aria-labelledby="slider_b_8_label" type="range" orient="vertical" min="-99" max="99" value="0">
							<input class="form-control" id="text_field_b_8" aria-labelledby="slider_b_8_label" type="number" min="-99" max="99">
						</div>
						<div class="slider_and_textfield">
							<label id="slider_b_9_label" class="small">cos(10x)</label>
							<input class="form-control-range" id="slider_b_9" aria-labelledby="slider_b_9_label" type="range" orient="vertical" min="-99" max="99" value="0">
							<input class="form-control" id="text_field_b_9" aria-labelledby="slider_b_9_label" type="number" min="-99" max="99">
						</div>

					</div>
				</div>
				<div id="graph2_wrapper">
					<svg id="svg_graph2"></svg>
				</div>
			</div>

			<!-- <ul class="nav nav-tabs" id="myTab" role="tablist">
			  <li class="nav-item">
			    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Graph</a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Funktionen</a>
			  </li>
			</ul>
			<div class="tab-content" id="myTabContent">
			  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

			  </div>
			  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">

			  </div>
			</div>
			<hr/>

			<div id="reset_button_wrapper">
				<button class="btn btn-outline-danger" id="buttonResetWave">Reset</button>
			</div> -->

			<div id="middle_section">


			</div>
	</div>
</div>
