.header{
    background: #002557;
    width: 900px;
    text-align: center;
    color: white;
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    font-family: "Open Sans",sans-serif;
}

.title1{
    margin: 0;
    padding-top: 20px;
}

.title2{
    margin: 0;
    padding: 10px;
}

.sidenav {
    width: 170px;
    height: 550px;
    position: fixed;
    left: 0;
    background-color: #EBEBEB ;
    padding-top: 20px;
  }

  .sidenav a {
    padding: 20px 8px 10px 16px;
    text-decoration: none;
    font-size: 22px;
    display: block;
    position: relative;
  }

  #intro{
      border: 2px solid #212529;
      border-radius: 5px;
      margin-left: 190px;
      width: 690px;
      font-size: 23px;
      position: absolute;
      margin-top: 20px;

  }

  .btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
  }

  .btnStart{
      position: relative;
      left: 55%;
      margin: 10px;
  }

  .btn-primary {
    color: #fff;
    background-color: #002557;
    border-color: #002557;
}

.btnSkipIntro{
    margin-left: 10px;
}

  .txtIntro{
      padding: 10px;
      padding-bottom: 15px;
      line-height: 140%;
  }

  .sidebar{
    color:#212529;
  }

  .sidebar:hover{
    color: #002557;
  }

  .placeholder{
      color: gray;
  }
  #resolution1{
      border: 2px solid #212529;
      border-radius: 5px;
      margin-left: 190px;
      width: 690px;
      font-size: 23px;
      position: absolute;
      margin-top: 20px;

  }
  .taskResolution1{
      padding: 10px;
      padding-bottom: 0px;
      line-height: 140%;
  }

  .inputFieldResolution1{
      padding: 10px;
      padding-bottom: 0px;
      line-height: 140%
  }
  #limitFrequency{
      font-weight: bold;
  }
  .btnsamplingFrequency{
      position: relative;
      left: 80%;
      margin: 10px;
  }

  .btnShowCorrectAnswer{
      margin: 10px;
      position: relative;
  }
  .btnsamplingFrequency2{
      position: relative;
      left: 80%;
      margin: 10px;
  }
  #answerIsCorrectSampling{
     padding-left: 10px;
     font-weight: bold;
  }
  #answerExplanationResolution1_1{
      padding: 10px;
      padding-bottom: 0px;
      line-height: 140%;
  }
  #answerExplanationResolution1_2{
      padding: 10px;
      padding-bottom: 15px;
      line-height: 140%;
      font-weight: bold;
  }

  #resolution2{
    border: 2px solid #212529;
    border-radius: 5px;
    margin-left: 190px;
    width: 690px;
    font-size: 23px;
    position: absolute;
    margin-top: 20px;

}

.taskResolution2{
    padding: 10px;
    padding-bottom: 0px;
    line-height: 140%;
}

.btnContinueStorage{
    position: relative;
    left: 80%;
    margin: 10px;
}

.formResolution2{
    margin-left: 160px;
}

.btnShowCorrectAnswerStorage{
    margin: 10px;
    position: relative;
}

#answerIsCorrectStorage{
    padding-top: 10px;
    padding-left: 10px;
    font-weight: bold;
    margin-bottom: 0;
 }

 #answerExplanationStorage{
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0px;
    line-height: 140%;
 }

 .btnContinueLinear{
    position: relative;
    left: 80%;
    margin: 10px;
 }
.wrongAnswer{
    padding-left: 10px;
     color: #ff3311;
}

.boldType{
    font-weight: bold;
}

.linearTask{
    border: 2px solid #212529;
    border-radius: 5px;
    margin-left: 190px;
    width: 240px;
    font-size: 22px;
    position: absolute;
    margin-top: 20px;
    padding: 10px;
    line-height: 140%;
}

.nonlinearTask{
    border: 2px solid #212529;
    border-radius: 5px;
    margin-left: 190px;
    width: 240px;
    font-size: 22px;
    position: absolute;
    margin-top: 20px;
    padding: 10px;
    line-height: 140%;
}

#linearErrorMessage{
  color: red;
}
.linearTaskEnd{
    border: 2px solid #212529;
    border-radius: 5px;
    margin-left: 190px;
    width: 240px;
    font-size: 1.24em;
    position: absolute;
    margin-top: 20px;
    padding: 10px;
    line-height: 140%;
}

.nonlinearTaskEnd{
    border: 2px solid #212529;
    border-radius: 5px;
    margin-left: 190px;
    width: 240px;
    font-size: 1.1em;
    position: absolute;
    margin-top: 20px;
    padding: 10px;
    line-height: 140%;
}
.linearButtonContinue{
    margin-left:5rem;
}
.btnBeginLinearQuantisation{
    margin-left: 60px;
}
#btnShowCorrectAnswerLinear{
  margin-top: 20px;
  margin-left: 85px;
}
#linearFormDiagram{

    margin-left: 470px;
    width: 410px;
    position:absolute;
    height: 520px;
    font-size: 14px;

}
.nonlinearTask{
    margin-bottom: 1rem;
    margin-top: 1rem;
}
.nonlinearTaskEnd{
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.linearTable{
  margin: 20px auto;
  width: 435px;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 10px;
}
.linearTable th{
  border-bottom: 2px solid #212529;
}
.container{
  margin: 20px auto;
  width: 400px;
  height: 360px;
  border: 2px solid #212529;
  border-radius: 5px;
}
.axis path,
.axis line,
.line {
    stroke: #000;
    fill: none;
}
.grid .tick {
    stroke: lightgrey;
    opacity: 0.7;
}
.grid path {
    stroke-width: 0;
}

.marginTop{
    margin-top: 0;
}

.click-circle:hover{
    cursor: pointer;
}

#redLinear{
    color: #ff3311;
}

#blueNonlinear{
    color: #054faf;
}
