<!DOCTYPE html>
<html lang="de">

<head>
	{{- partial "head.html" . -}}
</head>

<body>
	<header class="mms-navbar">
		{{- partial "nav.html" . -}}
	</header>

	{{if in .Permalink "lernumgebung"}}
    <div class="container-fluid">
      <div class="row flex-xl-nowrap">
        {{- partial "sidenav.html" . -}}
        <main class="col-12 col-md-8 col-xl-7 py-3 px-md-5">
          {{- block "main" . }}{{- end }}
        </main>
        {{- partial "marginal.html" . -}}
      </div>
    </div>
  {{else}}
    <main class="container pt-3">
      {{- block "main" . }}{{- end }}
    </main>
  {{end}}
	<footer>
		{{- partial "footer.html" . -}}
	</footer>
	
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
	<script src="{{"js/d3.min.js" | absURL}}" charset="utf-8"></script>
</body>

</html>
